<!DOCTYPE html>
<html>
<body>
    <vaadin-vertical-layout size-full >
        <!--<vaadin-label><b>Hello!</b> -
            How are you?</vaadin-label>

        <vaadin-horizontal-layout size-full :expand>
            <vaadin-tree _id="mytree" caption="My Tree"
                         width-auto height-full/>
            <vaadin-table _id="mytable" caption="My Table"
                          size-full :expand/>
        </vaadin-horizontal-layout>-->
    </vaadin-vertical-layout>

</body>
</html>